## Wikipedia list of metropolitan areas

_Note: adapted from Ivan Smirnov's exercises_

We want to count how many of the top 50 metropolitan areas are currently chinese according to that list:

https://en.wikipedia.org/wiki/List_of_metropolitan_areas_by_population

In [ ]:
# !pip install requests

In [1]:
import requests

In [2]:
html = requests.get("https://en.wikipedia.org/wiki/List_of_metropolitan_areas_by_population")
html.ok

True

In [ ]:
html.content

In [ ]:
html.headers

In [5]:
import pandas as pd

html_dataframe_object = pd.read_html(html.content, header = 0)

In [6]:
type(html_dataframe_object)

list

In [7]:
html_dataframe_object

[                                            Ekistics
 0  List of largest cities List of cities proper b...
 1                                      Cities portal
 2  .mw-parser-output .navbar{display:inline;font-...,
         City[a]        Country  UN 2018 population estimates[b]  \
 0       City[a]        Country  UN 2018 population estimates[b]
 1           NaN            NaN                              NaN
 2         Tokyo          Japan                         37468000
 3         Delhi          India                         28514000
 4      Shanghai          China                         25582000
 ..          ...            ...                              ...
 78   Washington  United States                          5207000
 79       Yangon        Myanmar                          5157000
 80   Alexandria          Egypt                          5086000
 81        Jinan          China                          5052000
 82  Guadalajara         Mexico                          5023000

            City proper[c] City proper[c].1  \
 0              Definition       Population
 1                     NaN              NaN
 2   Metropolis prefecture         13515271
 3            Capital City         16753235
 4            Municipality         24870895
 ..                    ...              ...
 78       Federal district           702455
 79                   City                —
 80      Urban governorate                —
 81  City (sub-provincial)          8700000
 82           Municipality          1385621

                                      City proper[c].2 City proper[c].3  \
 0   Area.mw-parser-output .nobold{font-weight:norm...    Density(/km2)
 1                                                 NaN              NaN
 2                                                2191        6,169[13]
 3                                                1484       11,289[15]
 4                                                6341    3,922[17][18]
 ..                                                ...              ...
 78                                                177        3,969[30]
 79                                                  —                —
 80                                                  —                —
 81                                              10244              849
 82                                                151        9,176[21]

    Urban area[8] Urban area[8].1 Urban area[8].2 Metropolitan area[d]  \
 0     Population       Area(km2)   Density(/km2)           Population
 1            NaN             NaN             NaN                  NaN
 2       39105000            8231        4,751[e]             37274000
 3       31870000            2233       14,272[f]             29000000
 4       22118000            4069        5,436[g]                    —
 ..           ...             ...             ...                  ...
 78       7583000            5501        1,378[r]              6263245
 79       6497000             603           10774                    —
 80       4857000             293           16577                    —
 81       4381000             798            5490                    —
 82       5437000             313      17,371[22]              5286642

    Metropolitan area[d].1 Metropolitan area[d].2
 0               Area(km2)          Density(/km2)
 1                     NaN                    NaN
 2                   13452              2,771[14]
 3                    3483              8,326[16]
 4                       —                      —
 ..                    ...                    ...
 78                  17009                368[98]
 79                      —                      —
 80                      —                      —
 81                      —                      —
 82                   3560                   1485

 [83 rows x 13 columns],
       vteWorld's largest cities  \
 0                   City proper
 1             Metropolitan area
 2      Urban area/agglomeration
 3                    Historical
 4              Related articles
 5  Cities portal • World portal

                          vteWorld's largest cities.1
 0  Capitals Africa Americas (North Latin Central ...
 1  Americas (North South West Indies) Europe (Eur...
 2  Asia Africa Europe European Union Nordic North...
 3                                       World Europe
 4  Arcology Ecumenopolis Global city Megacity Meg...
 5                       Cities portal • World portal  ,
           vteCities                                        vteCities.1
 0   Urban geography  Urban area City centre Downtown Suburb Exurb C...
 1  Urban government  City status Municipality direct-controlled Ind...
 2   Urban economics  World's cities by GDP Global city Central busi...
 3    Urban planning  History of urban planning Theories of urban pl...
 4  Urban population  World's largest cities throughout history Most...
 5          Urbanism  Urban warfare Urban studies Urban morphology U...
 6       Environment  Climate change Green urbanism Sustainable city...
 7     Cities portal                                      Cities portal]

In [8]:
len(html_dataframe_object)

4

In [14]:
df = html_dataframe_object[1]

In [15]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 13 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   City[a]                          82 non-null     object
 1   Country                          82 non-null     object
 2   UN 2018 population estimates[b]  82 non-null     object
 3   City proper[c]                   82 non-null     object
 4   City proper[c].1                 82 non-null     object
 5   City proper[c].2                 82 non-null     object
 6   City proper[c].3                 82 non-null     object
 7   Urban area[8]                    82 non-null     object
 8   Urban area[8].1                  82 non-null     object
 9   Urban area[8].2                  82 non-null     object
 10  Metropolitan area[d]             82 non-null     object
 11  Metropolitan area[d].1           82 non-null     object
 12  Metropolitan area[d].2           82 non-null     object
dtypes: object(13)
memory usage: 8.6+ KB

In [16]:
df.head()

,City[a],Country,UN 2018 population estimates[b],City proper[c],City proper[c].1,City proper[c].2,City proper[c].3,Urban area[8],Urban area[8].1,Urban area[8].2,Metropolitan area[d],Metropolitan area[d].1,Metropolitan area[d].2
0,City[a],Country,UN 2018 population estimates[b],Definition,Population,Area.mw-parser-output .nobold{font-weight:norm...,Density(/km2),Population,Area(km2),Density(/km2),Population,Area(km2),Density(/km2)
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Tokyo,Japan,37468000,Metropolis prefecture,13515271,2191,"6,169[13]",39105000,8231,"4,751[e]",37274000,13452,"2,771[14]"
3,Delhi,India,28514000,Capital City,16753235,1484,"11,289[15]",31870000,2233,"14,272[f]",29000000,3483,"8,326[16]"
4,Shanghai,China,25582000,Municipality,24870895,6341,"3,922[17][18]",22118000,4069,"5,436[g]",—,—,—

In [17]:
df = df.drop(0)

In [18]:

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82 entries, 1 to 82
Data columns (total 13 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   City[a]                          81 non-null     object
 1   Country                          81 non-null     object
 2   UN 2018 population estimates[b]  81 non-null     object
 3   City proper[c]                   81 non-null     object
 4   City proper[c].1                 81 non-null     object
 5   City proper[c].2                 81 non-null     object
 6   City proper[c].3                 81 non-null     object
 7   Urban area[8]                    81 non-null     object
 8   Urban area[8].1                  81 non-null     object
 9   Urban area[8].2                  81 non-null     object
 10  Metropolitan area[d]             81 non-null     object
 11  Metropolitan area[d].1           81 non-null     object
 12  Metropolitan area[d].2           81 non-null     object
dtypes: object(13)
memory usage: 9.0+ KB

In [19]:

df.head()

,City[a],Country,UN 2018 population estimates[b],City proper[c],City proper[c].1,City proper[c].2,City proper[c].3,Urban area[8],Urban area[8].1,Urban area[8].2,Metropolitan area[d],Metropolitan area[d].1,Metropolitan area[d].2
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Tokyo,Japan,37468000,Metropolis prefecture,13515271,2191,"6,169[13]",39105000,8231,"4,751[e]",37274000,13452,"2,771[14]"
3,Delhi,India,28514000,Capital City,16753235,1484,"11,289[15]",31870000,2233,"14,272[f]",29000000,3483,"8,326[16]"
4,Shanghai,China,25582000,Municipality,24870895,6341,"3,922[17][18]",22118000,4069,"5,436[g]",—,—,—
5,São Paulo,Brazil,21650000,Municipality,12252023,1521,"8,055[19]",22495000,3237,"6,949[h]",21734682,7947,"2,735[20]"

In [20]:
print(len(df[df.Country == "China"]), 'out of', len(df))

20 out of 82